*{
    padding: 0px;
    margin:0px;
}
.container{
    background: rgba(0, 0, 0, 1) url('http://fc02.deviantart.net/fs71/i/2011/274/6/f/ocean__sky__stars__and_you_by_muddymelly-d4bg1ub.png');
    background-blend-mode: darken;
    color: #fff;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}