<div class="header">
    <div class="logo">
    </div>
    <div class="nav-bar">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Dashboard</a>
        <a routerLink="home" routerLinkActive="active">Home</a>
        <a routerLink="event-page" routerLinkActive="active">Events</a>
        <a routerLink="about-page" routerLinkActive="active">About Us</a>
        <a routerLink="team-leads" routerLinkActive="active">Team</a>
        <a routerLink="contact-page" routerLinkActive="active">Contact Us</a>
    </div>
    <div class="menu" (click)="opnemenu()">
        <p>Menu</p>
    </div>
</div>
